/* ------------------------------ FONTS ------------------------------- */
@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);


/* ------------------------------ PAGE -------------------------------- */
#container {
    width: 45%;
    height: 100%;
    margin: 200px auto 0 auto;
}

#translate {
    position: absolute;
    top: 50px;
    right: 75px;
    width: 125px;
    height: 50px;
    
    font-family: 'cwTeXHei', Noto Sans, sans-serif;
    font-size: 16px;
}


/* ----------------------------- ENGLISH ------------------------------ */
.fulltextEN {
    transition: transform .65s ease-in-out 0s, opacity .40s ease-in-out .10s;
}

.startEN {
    opacity: 1;
}

.endEN {
    transform: rotate(90deg);
    opacity: 0;
}

.titleEN {
    font-family: Noto Sans, sans-serif;
    font-weight: 700;
    font-size: 60px;
}

.divider {
    margin-top: 12px;
}

.line {
    font-family: Noto Sans, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}


/* ----------------------------- CHINESE ------------------------------ */
.fulltextZH {
    position: absolute;
    left: 510px;
    top: 60px;
    
    transition: transform .65s ease-in-out 0s, opacity .40s ease-in-out .10s;
}

.startZH {
    transform: rotate(-90deg);
    opacity: 0;
}

.endZH {
    transform: rotate(0deg);
    opacity: 1;
}

.titleZH {
    float: right;
    width: 1px;
    margin-left: 49px;
    margin-right: 50px;
    
    font-family: 'cwTeXHei', sans-serif;
    font-weight: 700;
    font-size: 60px;
    word-wrap: break-word;
}

.column {
    float: right;
    width:1px;
    margin-left: 29px;
    
    font-family: 'cwTeXHei', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    word-wrap: break-word;
}