/* ------------------------------ FONTS ------------------------------- */
@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);


/* ------------------------------ PAGE -------------------------------- */
#container {
    width: 75%;
    height: 100%;
    margin: 40px auto 0 auto;
}

.langs a {
    float: right;
    margin-left: 15px;
    
    font-family: "Open Sans", Geneva, 'cwTeXHei', sans-serif;
    
    font-size: 14px;    
    
    line-height: 7px;
    color: #303030;
        
    transition: color .3s ease-in-out;
}

.langs a:hover {
    color: #727272;
}

.texEN {
    font-weight: 400;
    letter-spacing: 0.025em;
}

.texDE {
    font-weight: 400;
    letter-spacing: 0.025em;
}

.texZH {
    font-weight: 400;
    letter-spacing: 0.025em;
}

.bold {
    font-weight: 700;
    letter-spacing: 0.075em;
}

.sel {
    float: right;
    clear: both;
    width: 30px;
    height: 3px;
    margin-top: 8px;
    background-color: #009E5E;
    
    transition: all .2s ease-out;
}

.selDE {
    margin-right: 38px;
}

.selZH {
    margin-right: 72px;
}